body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    background-image: url(../imgs/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.form .resultats {
    width: 300px;
    max-height: 300px;
    padding: 20px;
    background: #191919;
    text-align: center;
    border: 2px solid #2ecc71;
    overflow: auto;
    
}

/*Estil scrollbar google chrome*/
.form .resultats::-webkit-scrollbar {
    width: 12px;
  }

.form .resultats::-webkit-scrollbar-track {
    background-color: #3498db;
}

.form .resultats::-webkit-scrollbar-thumb {
    background-color: #2ecc71;
}

.form p {
    color: white;
}

.form input[type = "text"], .form input[type = "number"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form input[type = "text"]:focus, .form input[type = "number"]:focus {
    border-color: #2ecc71;
}

.form button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form button:hover {
    background-color: #2ecc71;
}