body {margin-top: 3%;
    text-align: center;
    background-color: pink;
}

h1 {
    margin-bottom: 3%;
    font-size: 100px;
    color: chartreuse;
}

input {
    border: 2px solid #4CAF50;
    background-color: blueviolet;
    color: pink;
}

input:hover {
    border: 2px solid blueviolet;
    background-color: chartreuse;
    color: black;
}

button {
    margin-top: 1%;
    border-radius: 12px;
    color: pink;
    background-color: blueviolet;
    border: 2px solid #4CAF50;
    transition-duration: 0.5;
    padding: 15px 32px;
}

button:hover {
    border: 2px solid blueviolet;
    background-color: chartreuse;
    color: black;
}

#n {
    font-size: 20px;
    color: chartreuse;
}

#nR {
    font-size: 30px;
    color: chartreuse; 
}